.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    gap: 20px;
}

.title {
    font-size: 35px;
    letter-spacing: 6px;
    text-align: center;
}

.eventRequestList {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listContent {
    margin-top: 10px;
    max-height: 300px;
    width: 330px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    text-align: center;
    display: block;
    align-items: center;
}

.pending {
    padding: 5px;
    background: grey;
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scsApproved {
    padding: 5px;
    background: rgb(45, 195, 22);
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.declined {
    padding: 5px;
    background: red;
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fmFeedback {
    padding: 5px;
    background: rgb(29, 127, 147);
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.amApproved {
    padding: 5px;
    background: green;
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scheduledMeeting {
    padding: 5px;
    background: rgb(155, 109, 24);
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}